<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LisaaKirjaServlet</servlet-name>
        <servlet-class>servletit.LisaaKirjaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaysServlet</servlet-name>
        <servlet-class>servletit.LisaysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaaKirjatServlet</servlet-name>
        <servlet-class>servletit.ListaaKirjatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <servlet-class>servletit.KirjautuminenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistoServlet</servlet-name>
        <servlet-class>servletit.PoistoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TarkennettuunHakuun</servlet-name>
        <servlet-class>servletit.TarkennettuunHakuun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TarkemmatTiedot</servlet-name>
        <servlet-class>servletit.TarkemmatTiedot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtusivuServlet</servlet-name>
        <servlet-class>servletit.EtusivuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LisaaKirjaServlet</servlet-name>
        <url-pattern>/LisaaKirja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaysServlet</servlet-name>
        <url-pattern>/Lisays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaaKirjatServlet</servlet-name>
        <url-pattern>/ListaaKirjat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <url-pattern>/Kirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistoServlet</servlet-name>
        <url-pattern>/Poisto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarkennettuunHakuun</servlet-name>
        <url-pattern>/TarkennettuunHakuun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarkemmatTiedot</servlet-name>
        <url-pattern>/TarkemmatTiedot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtusivuServlet</servlet-name>
        <url-pattern>/Etusivu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
